body {
  font-family: Arial, sans-serif;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

h5 {
  font-family: Georgia, italic;
}

.navbar-brand {
  font-weight: bold;
  color: #DAA520 !important;
}

.carousel-item img {
  height: 65vh;
  object-fit: cover;
}

#errorMessages {
  margin-top: 10px;
}

#errorList {
  list-style-type: none;
  padding: 0;
}

#errorList li {
  background-color: #ffe6e6;
  color: #cc0000;
  padding: 8px 16px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.small-image {
  width: 40px;
  height: 40px;

}
a {
  text-decoration: none;
  color: inherit;
}